.storyBotHeader {
  font-size: 128px;
  font-family: Irish Grover, serif;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 17px;
}

.subtitle {
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0px;
}

.smallInputBox {
  width: 267px;
  height: 67px;
  border-radius: 25px;
  border: 3px solid #000;
  background: #FFF;
  font-size: 32px;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  box-shadow: -10px -10px 0 0 #000;
}

.bigGreenActionButton {
  width: 310px;
  height: 78px;
  flex-shrink: 0;
  border-radius: 25px;
  border: 3px solid #000;
  background: #50B957;
  color: #31783D;
  font-family: "Irish Grover";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  box-shadow: -10px -10px 0 0 #000;

  &:active {
    box-shadow: -5px -5px 0 0 #000;
    transform: translateY(-5px) translateX(-5px);
  }
}

.nameNumber {
  color: #767676;
  font-family: "Irish Grover";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.name {
  color: #000;
  font-family: "Irish Grover";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nameTable {
  margin: 0 auto;
  margin-bottom: 100px;
}

.parentContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.storyBotSmallHeader {
  color: #898989;
  font-family: "Irish Grover";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 0px;
}

.bigText {
  font-size: 128px;
  font-family: Irish Grover, serif;
  text-align: center;
}

.largeInputBox {
  width: 1024px;
  height: 20vh;
  border-radius: 25px;
  border: 3px solid #000;
  font-size: 32px;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  background: #F3F3F3;

}
.prevSubBox {
  width: 1024px;
  border-radius: 25px;
  border: 3px solid #000;
  background: #F3F3F3;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.prevSubText {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.storyDiv {
  width: 1067px;
  margin-right: auto;
  margin-left: auto;
}

.sentenceP {
  display: inline;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.clickableP {
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  &:active {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }
}

.wait {
  //transform: rotate(-14.537deg);
  color: #000;
  font-family: "Irish Grover";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.gameInstruction {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footerDiv {
  margin-top: 2vh;

  width: 1067px;
  margin-left: auto;
  margin-right: auto;
}
.footerDiv2 {
  display: flex;
  width: 1067px;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  justify-content: space-between;
  padding: 50px;
}